<%- content_for :head do %>
  <script type="text/javascript">
    var lat = null;
    var lng = null;
    var acc = null;

    function failure_handler() {
      alert('GPS not available');
    };

    function success_handler(location) {
      var lat = location.coords.latitude;
      var lng = location.coords.longitude;
      var acc = location.coords.accuracy;

      $('#lat_lng').val(lat + ',' + lng);
      $('input[type="submit"]').removeAttr('disabled');
    };

    function bb_location_callback() {
      var lat = blackberry.location.latitude;
      var lng = blackberry.location.longitude;

      $('#lat_lng').val(lat + ',' + lng);
      $('input[type="submit"]').removeAttr('disabled');

      return true;
    }

    function set_coords() {
      if( window.blackberry && blackberry.location.GPSSupported) {
        blackberry.location.onLocationUpdate("bb_location_callback()");
        // 0 - Cell Site, 1 - Assisted, 2 - Autonomous
        blackberry.location.setAidMode(2);
        blackberry.location.refreshLocation();
      }
      else {
        navigator.geolocation.getCurrentPosition(success_handler, failure_handler);
      }
      console.log('coords called');
    }

    $(document).ready(function() {
      set_coords();
    });
  </script>
<%- end %>

<div id='demo' style='text-align: center'>
  <br />
  <br />

  <% form_for :user, :url => listen_segments_url, :html => { :id => 'advertagging', :target => 'formresult' } do |f| %>
    <%= hidden_field_tag :category %>
    <%= hidden_field_tag :lat_lng %>
    <br />
    <%= submit_tag 'Traffic',          :class => 'traffic', :disabled => 'disabled' %>
    <br />
    <%= submit_tag 'Highway Services', :class => 'highway', :disabled => 'disabled' %>
    <br />
    <%= submit_tag 'Bars/Night Clubs', :class => 'bars', :disabled => 'disabled' %>
  <% end %>

</div>
