<div id='demo' style='text-align: center'>
  <%= image_tag 'localdipity_logo.png' %>
  <br />
  <br />

  <% form_for :user, :url => listen_segments_url, :html => { :id => 'listen', :target => '_blank' } do |f| %>
    <%= text_field_tag :lat_lng %>
    <br />
    <%= submit_tag 'Listen' %>
  <% end %>

    <br />
  <% form_for :user, :url => ask_a_question_users_url, :html => { :id => 'ask_a_question' } do |f| %>
    <%= text_field_tag :phone, cookies[:phone] %>
    <%= hidden_field_tag :hidden_lat_lng %>
    <br />
    <%= submit_tag 'Ask a Question' %>
  <% end %>

  <%= link_to 'Erase Phone #', '#', :style => 'display: none', :id => 'erase_phone' %>

</div>
