<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Phone</th>
    <th>Logged In</th>
    <th>Current Segment</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.email %></td>
    <td><%=h user.phone %></td>
    <td><%=h user.logged_in %></td>
    <td><%=h user.current_segment.description if user.current_segment %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
