<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>

<% remote_form_for :user, @user, :url => tropo_update_location_user_path do |f| %>
  <%= text_field_tag :lat_lng %>
  <%= submit_tag 'Update Location' %>
<% end %>

<%= link_to 'Join Conference', greeting_finished_user_path(@user) %> (Click this to simulate the smart phone having downloaded the greeting and completed playback.) 

<br />
<br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
