<h1>Editing greeter</h1>

<% form_for(@greeter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :available %><br />
    <%= f.check_box :available %>
  </p>
  <p>
    <%= f.label :em_handle %><br />
    <%= f.text_field :em_handle %>
  </p>
  <p>
    <%= f.label :current_user %><br />
    <%= f.select :current_user, [['Select', nil]] + User.all.map {|e| [e.skype_name, e.id] } %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @greeter %> |
<%= link_to 'Back', greeters_path %>
