<h1>Listing greeters</h1>

<table>
  <tr>
    <th>Available</th>
    <th>Em handle</th>
    <th>Current user</th>
  </tr>

<% @greeters.each do |greeter| %>
  <tr>
    <td><%=h greeter.available %></td>
    <td><%=h greeter.em_handle %></td>
    <td><%= current_user(greeter) %></td>
    <td><%= link_to 'Show', greeter %></td>
    <td><%= link_to 'Edit', edit_greeter_path(greeter) %></td>
    <td><%= link_to 'Destroy', greeter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New greeter', new_greeter_path %>
