<h1>New greeter</h1>

<% form_for(@greeter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :available %><br />
    <%= f.check_box :available %>
  </p>
  <p>
    <%= f.label :em_handle %><br />
    <%= f.text_field :em_handle %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', greeters_path %>