<p>
  <b>Available:</b>
  <%=h @greeter.available %>
</p>

<p>
  <b>Em handle:</b>
  <%=h @greeter.em_handle %>
</p>
<p>
  <b>Current User:</b>
  <%= current_user(@greeter) %>
</p>



<%= link_to 'Edit', edit_greeter_path(@greeter) %> |
<%= link_to 'Back', greeters_path %>
