<h2>Editing Geo-Fence</h2>

<% form_for(@segment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :lat_lng_sw, 'Bottom Left (SW)' %><br />
    <%= f.text_field :lat_lng_sw %>
  </p>
  <p>
    <%= f.label :lat_lng_ne, 'Top Right (NE)' %><br />
    <%= f.text_field :lat_lng_ne %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :layer %><br />
    <%= f.text_field :layer %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @segment %> |
<%= link_to 'Back', segments_path %>
