<%= link_to 'New Geo-Fence', new_segment_path %><br /><br />

<table>
  <tr>
    <th>Bottom Left (SW)</th>
    <th>Top Right (NE)</th>
    <th>Description</th>
    <th>Layer</th>
  </tr>

<% @segments.each do |segment| %>
  <tr>
    <td><%=h segment.lat_lng_sw %></td>
    <td><%=h segment.lat_lng_ne %></td>
    <td><%=h segment.description %></td>
    <td><%=h segment.layer %></td>
    <td><%= link_to 'Show Map', show_map_link(segment), :target => '_blank' %></td>
    <td><%= link_to 'Show', segment %></td>
    <td><%= link_to 'Edit', edit_segment_path(segment) %></td>
    <td><%= link_to 'Destroy', segment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

