<p>
  <b>Bottom LeftRight (SW):</b>
  <%=h @segment.lat_lng_sw %>
</p>

<p>
  <b>Top Right (NE):</b>
  <%=h @segment.lat_lng_ne %>
</p>

<p>
  <b>Description:</b>
  <%=h @segment.description %>
</p>

<p>
  <b>Layer:</b>
  <%=h @segment.layer %>
</p>


<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
