{"tropo":[
     {
        "call":{
           "to":[
              "<%= "tel:+1#{@user.phone}" %>"
           ]
        }
     },
     {
        "conference":
           {
              "id":"<%= @user.current_segment.id %>"
           }
     }
  ]
}
