<h1>Editing segment_host</h1>

<% form_for(@segment_host) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :segment %><br />
    <%= f.select :segment_id, [['Select', nil]] + Segment.all.map {|e| [e.description, e.id] } %>
  </p>
  <p>
    <%= f.label :available %><br />
    <%= f.check_box :available %>
  </p>
  <p>
    <%= f.label :em_handle %><br />
    <%= f.text_field :em_handle %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @segment_host %> |
<%= link_to 'Back', segment_hosts_path %>
