<h1>Listing segment_hosts</h1>

<table>
  <tr>
    <th>Segment</th>
    <th>Available</th>
    <th>Em handle</th>
    <th>User Count</th>
  </tr>

<% @segment_hosts.each do |segment_host| %>
  <tr>
    <td><%= link_to segment_host.segment.description, segment_path(segment_host.segment) if segment_host.segment.present? %></td>
    <td><%=h segment_host.available %></td>
    <td><%=h segment_host.em_handle %></td>
    <td><%=h segment_host.user_count %></td>
    <td><%= link_to 'Show', segment_host %></td>
    <td><%= link_to 'Edit', edit_segment_host_path(segment_host) %></td>
    <td><%= link_to 'Destroy', segment_host, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New segment_host', new_segment_host_path %>
