<p>
  <b>Segment ID:</b>
  <%=h @segment_host.segment_id %>
</p>

<p>
  <b>Available:</b>
  <%=h @segment_host.available %>
</p>

<p>
  <b>Em handle:</b>
  <%=h @segment_host.em_handle %>
</p>


<%= link_to 'Edit', edit_segment_host_path(@segment_host) %> |
<%= link_to 'Back', segment_hosts_path %>
