<%= link_to 'New message', new_ad_spot_path %><br />

<table>
  <tr>
    <th>File name</th>
    <th>Geo-Fence</th>
  </tr>

<% @ad_spots.each do |ad_spot| %>
  <tr>
    <td><%=h ad_spot.spot_file_name %></td>
    <td><%= link_to ad_spot.segment.description, segment_path(ad_spot.segment) if ad_spot.segment.present? %></td>
    <td><%= link_to 'Show', ad_spot %></td>
    <td><%= link_to 'Edit', edit_ad_spot_path(ad_spot) %></td>
    <td><%= link_to 'Destroy', ad_spot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

