<h2>Link New Message to a Geo-Fence</h2>

<% form_for(@ad_spot, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :spot, 'Message File' %><br />
    <%= f.file_field :spot %>
  </p>
  <p>
    <%= f.label :segment, 'Geo-Fence' %><br />
    <%= f.select :segment_id, Segment.all.map {|e| [e.description, e.id] } %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', ad_spots_path %>
