<p>
  <b>Message File Name:</b>
  <%=h @ad_spot.spot_file_name %>
</p>

<p>
  <b>Geo-Fence:</b>
  <%= link_to  @ad_spot.segment.description, segment_path(@ad_spot.segment)%>
</p>


<%= link_to 'Edit', edit_ad_spot_path(@ad_spot) %> |
<%= link_to 'Back', ad_spots_path %>
