<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Segments: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'application' %>

  <link rel="stylesheet" href="xMain.css" type="text/css" media="all" />

  <%= yield(:head) %>
</head>
<body>
  <div style="width: 600px; margin: 0px auto">
    <img src="/images/localdipity_logo.png"><br /><br />
  </div>

  <div id='menu'>
    <% if controller.action_name != 'demo' %>
      <%= link_to 'Home', '/', :style => 'margin: 0px 15px 0px 0px' %>
      <%= link_to 'Geo-Fences', segments_path %>
      <%= link_to 'Messages', ad_spots_path %>
      <%= link_to 'Reports', '#' %>
    <% end %>
    <p style="color: green"><%= flash[:notice] %></p>
  </div>

  <div id='content'>
    <%= yield %>
  </div>

</body>
</html>
